<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 以下三个meta清除微信端的缓存，上线以后取消掉 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <% if (htmlWebpackPlugin.options.production) { %>
			<%= htmlWebpackPlugin.files.css.map((item) => {
			return `<link href="${item}" rel="stylesheet">`
			}) %>
    <% } %>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
</head>
<body>
  <div id="root"></div>
  <% if (htmlWebpackPlugin.options.production) { %>
    <%= htmlWebpackPlugin.files.js.map((item) => {
      return `<script src="${item}" charset="utf-8"></script>`
    }) %>
  <% } %>
</body>
</html>
